// 
// structure-rtl.scss
//



// topbar.scss


.logo-box{
    float: right;
}

.navbar-custom {
    padding: 0px 0px 0px 10px;

    .topnav-menu {
        >li {
            float: right;
        }

        .nav-link {
            direction: ltr;
        }
    }
    
    .app-search{
        margin-left: 20px;
        .form-control{
            padding-right: 20px;
            padding-left: 0;
            border-radius: 0 30px 30px 0;
        }

        .input-group-append {
            margin-right: 0;
        }
        .btn{
            border-radius: 30px 0 0 30px;
        }
    }
}


/* Notification */
.notification-list {

    .noti-icon-badge {
        left: 12px;
        right: auto;
    }

    .notify-item {
        padding: 12px 20px;

        .notify-icon {
            float: right;
            margin-left: 10px;
            margin-right: 0;
        }

        .notify-details,
        .user-msg {
            margin-left: 0;
            margin-right: 45px;
        }
    }

    .pro-user-name{
        margin-left: .375rem!important;
        margin-right: 0 !important;
    }

    .profile-dropdown {
        i {
            margin-left: 5px;
            margin-right: 0px;
            float: right;
        }
        .notify-item {
            padding: 7px 20px;
        }
    }
}

// page-title

.page-title-box {
    .page-title-right {
        float: left;
    }
}


// Left-sidebar

.content-page {
    margin-right: $leftbar-width;
    margin-left: 0;
}

// Sidebar
#sidebar-menu {
    >ul {
        >li {
            >a {
                i {
                    margin: 0 3px 0 10px;
                }

                .drop-arrow {
                    float: left;

                    i {
                        margin-left: 0;
                    }
                }
            }

            >ul {
                padding-right: 40px;
                padding-left: 0;

                ul {
                    padding-right: 20px;
                    padding-left: 0;
                }
            }
        }
    }

    .menu-arrow {
        left: 20px;
        right: auto;

        &:before {
            content: "\F141";
        }
    }

    li.mm-active {
        >a {
            >span.menu-arrow {
                transform: rotate(-90deg);
            }
        }
    }
}

// Enlarge menu
.enlarged {

    // Side menu
    .left-side-menu {

        // Sidebar Menu
        #sidebar-menu {

            >ul {
                >li {

                    >a {
                        i {
                            margin-left: 20px;
                            margin-right: 5px;
                        }

                        span {
                            padding-right: 25px;
                            padding-left: 0;
                        }
                    }

                    &:hover {

                        >ul {
                            right: $leftbar-width-collapsed;
                            left: auto;
                        }
                    }
                }

                ul {

                    li {
                        &:hover {
                            >ul {
                                right: 190px;
                                margin-top: -36px;
                            }
                        }

                        >a {
                            span.pull-right {
                                left: 20px;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    // Navbar

    .navbar-custom{
        right: 0px;
    }

    // Content Page
    .content-page {
        margin-right: $leftbar-width-collapsed !important;
        margin-left: 0 !important;
    }

    //Footer
    .footer {
        left: 0 !important;
        right: $leftbar-width-collapsed !important;
    }
}

@include media-breakpoint-down(sm) {

    .content-page,
    .enlarged .content-page {
        margin-right: 0 !important;
    }
}

@media (max-width: 1024px){
    .navbar-custom{
        right: 0 !important;
        padding: 0 10px;
    }
}

/* =============
  Horizontal Menu
============= */

body[data-layout=horizontal] {
    .content-page{
        margin-right: 0!important;
    }
    .logo-box{
        padding-right: 0;
        padding-left: 1.5rem;
    }

    .footer{
        right: 0;
    }
}

#topnav {
    .arrow-down{
        &:after {
            margin-left: 0;
            margin-right: 5px;
        }
    }

    @include media-breakpoint-down(md) {
        .navigation-menu{
            text-align: right;
            max-height: 400px;
            overflow: auto;
            >li {
                .submenu {
                    padding-right: 20px;
                    padding-left: 0;
                }
                >a {
                    i {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }

            
        }

        .arrow-down:after {
            left: 15px;
            right: auto;
        }
    }
}

.navigation-menu{
    >li{
        float: right;
        >a {
            i {
                margin: 3px 0 0 8px;
                float: right;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        >li{
            
            &:first-of-type>a{
                padding-left: 20px;
                padding-right: 0;            
            }

            .submenu {
                right: 0;
                left: auto;
                text-align: right;

                li .submenu {
                    right: 100%;
                    left: auto;
                    margin-left: 0;
                    margin-right: 10px;
                }

                li.has-submenu>a {
                    .arrow-down{
                        &:after {
                            left: 20px!important;
                            transform: rotate(45deg) translateY(-50%)!important;
                            right: auto!important;
                        }
                    }
                }
            }

            &.last-elements {
                .submenu {
                    right: auto;
                    left: 0;
                }
            }
        }
    }
    
}

/* =============
  Small Menu
============= */

body[data-sidebar-size=small]{

    .left-side-menu {
        #sidebar-menu {
            >ul {
                ul {
                    padding-right: 0;
                }
            }
        }

        &+.content-page {
            margin-right: $leftbar-width-sm;
            margin-left: 0;
        }

        +.content-page .footer {
            left: 0;
            right: $leftbar-width-sm;
        }
    }

    &.enlarged {
        #wrapper {
            .left-side-menu {
                text-align: right;
    
                ul {
                    li {
                        a {
                            i {
                                margin-right: 3px;
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// footer.scss

.footer {
    left: 0;
    right: $leftbar-width;
}

.footer-alt {
    right: 0 !important;
}

@include media-breakpoint-down(sm) {
    .footer {
        right: 0 !important;
    }
}

// right-sidebar.scss
//

.right-bar {
    float: left !important;
    left: -($rightbar-width + 10px);
    right: auto;
}

.right-bar-enabled {
    .right-bar {
        left: 0;
        right: auto;
    }
}

.activity-widget{
    .activity-list{
        border-left: 0;
        border-right: 2px dashed $gray-400;
        padding-right: 24px;
        padding-left: 0px;
        &::after{
            right: -7px;
        }
    }
}